/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* layout */
:root {
  --primary: rgb(86, 126, 212);
  --error: red;
}
body {
  background: lightgrey;
  margin: 0;
  font-family: "Roboto";
  padding-top: 70px;
}
.navbar {
  background: rgb(238, 236, 236);
  z-index: 10;
}

.pages {
  max-width: 1000px;
  padding: 200px, 0;
  margin: 0 auto;
}

/*Forum page*/
.home {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}
.forumpostDetails, .viewForumposts {
  /* background: white; */
  border-radius: 4px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.05); */
}
.forumpostDetails.h4, .viewForumposts.h4 {
  max-height: 15px;
  margin: 0 0 5px, 0;
  padding: 0;
  font-size: 1.2em;
  color: var(--primary);
}
.forumpostDetails p, .viewForumposts p {
  margin: 0;
  font-size: 0.9em;
  color: grey;
  text-align: left;
}
.forumpostDetails .heading, .viewForumposts .heading {
  max-height: 40px;
  margin: 5px auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forumpostDetails .actions, .viewForumposts .actions {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.forumpostDetails span {
  width: 50px;
  padding: 5px;
  border-radius: 50%;
  color: var(--primary)
}
.forumpostDetails .space {
  width: 2px;
  padding: 2px;
  border-radius: 50%;
}
.forumpostDetails button {
  background: var(--primary);
  border: 0;
  color: white;
  padding: 5px;
  font-family: "Roboto";
  border-radius: 4px;
  cursor:pointer;
}

/* new forum post form */
form {
  background: white;
  border-radius: 4px;
  margin: 10px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  max-width: 1400px;
}
label, input {
  display: block;
}
input, textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid beige;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: white;
  padding: 5px;
  font-family: "Roboto";
  border-radius: 4px;
  cursor:pointer;
}
div.error {
  padding: 10px;
  background: lavenderblush;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
textarea {
  min-height: 100px;
}

/* signup and login forms */
form.signup, form.login {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  height: 85vh;
  width: 80vh;
}
